name: CI
on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ci-${{ '{{' }} github.workflow {{ '}}' }}-${{ '{{' }} github.ref {{ '}}' }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write   # reviewdog inline comments

jobs:
  core:
    uses: {{ github_user }}/dev-templates/.github/workflows/ci-core-python.yml@v2
    with:
      python-version: "{{ python_version }}"
    secrets: inherit
